In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()

from IPython.core.pylabtools import figsize

import statsmodels.api as sm
from patsy import dmatrix

In [3]:
df = pd.read_csv('~/src/properties_2016.csv')
df.tail()

/Users/quartz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train_2016_df = pd.read_csv('~/src/train_2016.csv')
train_2016_df.tail()

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [5]:
df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cat = ['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid', 'buildingqualitytypeid', \
       'buildingclasstypeid', 'decktypeid', 'fips', 'hashottuborspa', 'heatingorsystemtypeid', \
       'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', \
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7', \
       'rawcensustractandblock', 'censustractandblock', 'regionidcounty', 'regionidcity', \
       'regionidzip', 'regionidneighborhood', 'typeconstructiontypeid', 'yearbuilt', \
       'assessmentyear', 'taxdelinquencyyear', 'fireplaceflag', 'storytypeid', 'taxdelinquencyflag']
cat

['parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'buildingqualitytypeid',
 'buildingclasstypeid',
 'decktypeid',
 'fips',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'rawcensustractandblock',
 'censustractandblock',
 'regionidcounty',
 'regionidcity',
 'regionidzip',
 'regionidneighborhood',
 'typeconstructiontypeid',
 'yearbuilt',
 'assessmentyear',
 'taxdelinquencyyear',
 'fireplaceflag',
 'storytypeid',
 'taxdelinquencyflag']

In [7]:
cat_df = df[cat]
cat_df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,hashottuborspa,heatingorsystemtypeid,propertycountylandusecode,...,regionidcity,regionidzip,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
result_df = pd.merge(cat_df, train_2016_df)
result_df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,hashottuborspa,heatingorsystemtypeid,propertycountylandusecode,...,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag,logerror,transactiondate
90270,11876798,1.0,NaN,4.0,NaN,NaN,6037.0,NaN,2.0,0100,...,114914.0,NaN,2008.0,2015.0,NaN,NaN,NaN,NaN,0.0276,2016-04-15
90271,12808516,NaN,NaN,7.0,NaN,NaN,6037.0,NaN,7.0,0100,...,NaN,NaN,1956.0,2015.0,NaN,NaN,NaN,NaN,-0.1188,2016-06-07
90272,12010248,1.0,NaN,4.0,NaN,NaN,6037.0,NaN,2.0,010C,...,32059.0,NaN,2011.0,2015.0,NaN,NaN,NaN,NaN,0.0843,2016-06-30
90273,14310905,NaN,NaN,NaN,NaN,NaN,6059.0,NaN,NaN,1,...,275824.0,NaN,2012.0,2015.0,NaN,NaN,NaN,NaN,-0.0050,2016-03-31
90274,14636609,NaN,NaN,NaN,NaN,NaN,6059.0,NaN,NaN,1,...,NaN,NaN,2013.0,2015.0,NaN,NaN,NaN,NaN,0.0129,2016-09-13

In [189]:
# fillna를 위한 values 만들기, fillna 적용하기(Nan >> nulls_)

values = {}
for i in cat:
    values[i] = "nulls_" + i[:10]
result_df.fillna(values, inplace=True)
result_df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,hashottuborspa,heatingorsystemtypeid,propertycountylandusecode,...,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag,logerror,transactiondate
90270,11876798,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,0100,...,114914,nulls_typeconstr,2008,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0276,2016-04-15
90271,12808516,nulls_airconditi,nulls_architectu,7,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,7,0100,...,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.1188,2016-06-07
90272,12010248,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,010C,...,32059,nulls_typeconstr,2011,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0843,2016-06-30
90273,14310905,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,275824,nulls_typeconstr,2012,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.0050,2016-03-31
90274,14636609,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,nulls_regionidne,nulls_typeconstr,2013,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0129,2016-09-13

In [175]:
def find_others(pvalue, a, b):
    others = []
    length = len(pvalue)

    for i in range(length):
        if pvalue.values[i] > 0.01:
            others.append(pvalue.index[i][a:b])

    del others[0]
    del others[-1]
    return others

In [9]:
# # transatctiondate 제거

# del result_df['transactiondate']
# result_df.tail()

In [11]:
# 수식 만들기

formula = "logerror ~ "
for i in cat[1:2]:
    formula += "C(" + i + ") + "
formula = formula[:-3]
y = result_df.iloc[:, -1:]
X = result_df.iloc[:, :-1]
model = sm.OLS.from_formula(formula, data=result_df)
print(model.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9033
Date:                Wed, 04 Jul 2018   Prob (F-statistic):              0.491
Time:                        14:17:48   Log-Likelihood:                 36738.
No. Observations:               90275   AIC:                        -7.346e+04
Df Residuals:                   90268   BIC:                        -7.340e+04
Df Model:                           6
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Intercept                                        0.0129      0.001     13.030      0.000       0.011       0.015
C(airconditioningtypeid)[T.3.0]                  0.0788      0.161      0.489      0.624      -0.237       0.395
C(airconditioningtypeid)[T.5.0]                  0.0028      0.011      0.257      0.798      -0.019       0.024
C(airconditioningtypeid)[T.9.0]                 -0.0029      0.161     -0.018      0.986      -0.319       0.313
C(airconditioningtypeid)[T.11.0]                 0.0134      0.020      0.662      0.508      -0.026       0.053
C(airconditioningtypeid)[T.13.0]                 0.0026      0.004      0.672      0.502      -0.005       0.010
C(airconditioningtypeid)[T.nulls_airconditi]    -0.0022      0.001     -1.821      0.069      -0.004       0.000
==============================================================================
Omnibus:                    66217.379   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64977315.157
Skew:                           2.172   Prob(JB):                         0.00
Kurtosis:                     134.361   Cond. No.                         373.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
sm.stats.anova_lm(model.fit())

                               df       sum_sq   mean_sq         F    PR(>F)
C(airconditioningtypeid)      6.0     0.140633  0.023439  0.903348  0.491172
Residual                  90268.0  2342.143887  0.025947       NaN       NaN

In [19]:
result_df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,heatingorsystemtypeid,propertycountylandusecode,propertylandusetypeid,...,regionidcounty,regionidcity,regionidzip,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,logerror,transactiondate
0,17073783,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6111.0,nulls_heatingors,1128,265.0,...,2061.0,34543,97081,nulls_regionidne,nulls_typeconstr,1986,2015.0,nulls_taxdelinqu,0.0953,2016-01-27
1,17088994,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6111.0,nulls_heatingors,1129,266.0,...,2061.0,34543,97083,nulls_regionidne,nulls_typeconstr,1990,2015.0,nulls_taxdelinqu,0.0198,2016-03-30
2,17100444,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6111.0,nulls_heatingors,1111,261.0,...,2061.0,26965,97113,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,0.0060,2016-05-27
3,17102429,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6111.0,nulls_heatingors,1110,261.0,...,2061.0,26965,97113,nulls_regionidne,nulls_typeconstr,1965,2015.0,nulls_taxdelinqu,-0.0566,2016-06-07
4,17109604,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6111.0,nulls_heatingors,1111,261.0,...,2061.0,34543,97084,nulls_regionidne,nulls_typeconstr,1984,2015.0,nulls_taxdelinqu,0.0573,2016-08-08

In [13]:
# 빈도 확인

for i in cat[1:]:
    print(result_df[i].value_counts())

nulls_airconditi    61494
1.0                 26668
13.0                 1833
5.0                   215
11.0                   63
9.0                     1
3.0                     1
Name: airconditioningtypeid, dtype: int64
nulls_architectu    90014
7.0                   221
8.0                    16
2.0                    11
21.0                    8
3.0                     4
10.0                    1
Name: architecturalstyletypeid, dtype: int64
nulls_buildingqu    32911
7.0                 29310
4.0                 23839
1.0                  2627
10.0                 1461
12.0                  119
8.0                     5
6.0                     2
11.0                    1
Name: buildingqualitytypeid, dtype: int64
nulls_buildingcl    90259
4.0                    16
Name: buildingclasstypeid, dtype: int64
nulls_decktypeid    89617
66.0                  658
Name: decktypeid, dtype: int64
6037.0    58574
6059.0    24505
6111.0     7196
Name: fips, dtype: int64
nulls_hashottubo    87910
True                 2365
Name: hashottuborspa, dtype: int64
2.0                 38303
nulls_heatingors    34195
7.0                 15519
24.0                 1071
6.0                   970
20.0                   97
13.0                   76
18.0                   25
1.0                    13
14.0                    2
10.0                    2
12.0                    1
11.0                    1
Name: heatingorsystemtypeid, dtype: int64
0100                30846
122                 15383
010C                10264
0101                 7435
34                   5946
1111                 3883
1                    2915
010E                 2286
010D                 2209
0200                 2153
1129                 1643
1110                 1117
0400                  747
0300                  578
012C                  523
1128                  356
0104                  348
01DC                  251
010V                  201
01HC                  148
38                    106
96                    104
0103                  100
010G                   80
010H                   72
010M                   59
0700                   54
1210                   47
0108                   46
1117                   46
                    ...
0401                    4
0110                    4
012D                    4
1310                    4
0102                    3
1432                    2
1421                    2
030G                    2
1011                    2
1012                    2
0                       1
0130                    1
020M                    1
nulls_propertyco        1
1333                    1
0210                    1
0131                    1
0301                    1
0114                    1
1420                    1
200                     1
1722                    1
8800                    1
010                     1
1200                    1
6050                    1
0111                    1
01DD                    1
0303                    1
040A                    1
Name: propertycountylandusecode, Length: 78, dtype: int64
261.0    60637
266.0    22815
246.0     2376
269.0     2334
248.0      879
247.0      629
265.0      356
263.0       84
260.0       62
275.0       46
267.0       28
31.0        17
264.0       11
47.0         1
Name: propertylandusetypeid, dtype: int64
nulls_propertyzo    31962
LAR1                 7678
LAR3                 2801
LARS                 1503
LBR1N                1459
LARD1.5              1305
LAR2                 1287
SCUR2                1104
LARD2                 963
LARA                  851
LARE11                716
LARE15                617
TORR-LO               616
LCR1YY                530
LAR4                  505
SCUR3                 492
PSR6                  441
LARD3                 427
LKR1YY                401
GLR1YY                337
PDR1*                 328
LCA11*                325
LCR1*                 311
LAC2                  306
LCA22*                306
LCA25*                288
BUR1YY                283
LCA21*                278
LCA106                278
LBR2N                 265
                    ...
POM1*                   1
POT1VV                  1
LCR3VV                  1
LCM*                    1
LCR17500-R              1
CVAIPCD*                1
LCR2                    1
LRRA 7000               1
C1-R2                   1
LKMHP*                  1
SOR1*                   1
LARI                    1
ARR3HV                  1
SLC1-R3*                1
SFM2*                   1
LC110000R1              1
TCR15000*               1
PD SP                   1
LNR2RPD-R3              1
DUR1AY                  1
LBCR*                   1
TOAR-LO                 1
LCA 110000              1
HAR2                    1
POR4VV                  1
SLC1*                   1
LCR405                  1
POC2                    1
GAMUO                   1
LUCR110000              1
Name: propertyzoningdesc, Length: 1997, dtype: int64
nulls_pooltypeid    89114
1.0                  1161
Name: pooltypeid10, dtype: int64
nulls_pooltypeid    89071
1.0                  1204
Name: pooltypeid2, dtype: int64
nulls_pooltypeid    73578
1.0                 16697
Name: pooltypeid7, dtype: int64
6.037920e+07    84
6.059063e+07    73
6.037274e+07    65
6.059032e+07    62
6.037920e+07    60
6.059052e+07    52
6.037137e+07    49
6.037277e+07    45
6.111007e+07    44
6.037577e+07    42
6.059052e+07    40
6.059063e+07    39
6.037920e+07    38
6.037208e+07    37
6.059053e+07    36
6.059052e+07    36
6.059063e+07    34
6.111008e+07    34
6.037275e+07    33
6.111006e+07    33
6.037578e+07    33
6.059032e+07    33
6.037277e+07    32
6.037201e+07    31
6.059063e+07    31
6.037139e+07    31
6.111006e+07    29
6.037920e+07    29
6.059063e+07    29
6.059075e+07    29
                ..
6.037404e+07     1
6.037920e+07     1
6.037483e+07     1
6.037901e+07     1
6.037278e+07     1
6.037123e+07     1
6.059011e+07     1
6.059064e+07     1
6.037480e+07     1
6.037238e+07     1
6.037463e+07     1
6.037504e+07     1
6.037402e+07     1
6.037434e+07     1
6.037430e+07     1
6.059011e+07     1
6.059087e+07     1
6.059032e+07     1
6.037274e+07     1
6.059064e+07     1
6.111009e+07     1
6.059022e+07     1
6.037603e+07     1
6.037800e+07     1
6.037551e+07     1
6.037483e+07     1
6.037535e+07     1
6.037910e+07     1
6.037703e+07     1
6.037187e+07     1
Name: rawcensustractandblock, Length: 42647, dtype: int64
nulls_censustrac    605
60379203391054.0     62
60590320582009.0     59
60371371031000.0     49
60590626102134.0     46
60372766032001.0     45
61110074023000.0     44
60375766011005.0     42
60590524272002.0     41
60372741001012.0     41
60590626225003.0     39
60379200312000.0     39
60372079002009.0     36
60590524202001.0     35
61110075073000.0     34
60590525171018.0     34
60590320231024.0     33
60372754002003.0     33
60375776041024.0     33
60372766042001.0     32
60590762015010.0     31
60379201081000.0     31
60371393022000.0     31
60590626353007.0     31
60372013024000.0     31
60590754033001.0     29
60590626481001.0     29
60379203304004.0     29
60590320444005.0     28
60371899031000.0     28
                   ...
61110014012017.0      1
60375016003009.0      1
60374800123007.0      1
60379102082011.0      1
61110014012021.0      1
60374010021002.0      1
60590745021016.0      1
60375036021005.0      1
60374010021006.0      1
60371438003005.0      1
60590758133019.0      1
60375034021013.0      1
60372317203002.0      1
60372317203003.0      1
60590634003004.0      1
60375734031034.0      1
60374010021010.0      1
60375508001008.0      1
60376703282010.0      1
60590745021013.0      1
60375705021001.0      1
60374826001011.0      1
60375705021003.0      1
60371412021004.0      1
60371151013004.0      1
60590745021007.0      1
60590745021014.0      1
60590745021010.0      1
60375705021011.0      1
60590524203007.0      1
Name: censustractandblock, Length: 42399, dtype: int64
3101.0    58574
1286.0    24505
2061.0     7196
Name: regionidcounty, dtype: int64
12447.0             20559
46298.0              3000
52650.0              2132
54311.0              2128
5534.0               2035
40227.0              1949
nulls_regionidci     1803
16764.0              1800
25218.0              1586
34278.0              1383
27110.0              1266
12773.0              1222
47019.0              1187
13150.0              1120
47568.0              1097
45457.0              1052
24812.0              1037
33252.0              1034
34543.0               949
51239.0               932
54722.0               929
53571.0               923
25459.0               904
24832.0               891
32380.0               820
13693.0               815
37086.0               791
33612.0               772
20008.0               756
21412.0               729
                    ...
21778.0                50
30399.0                49
113412.0               47
118875.0               40
16961.0                39
16389.0                36
272578.0               33
32753.0                30
3491.0                 30
25468.0                27
38980.0                25
6822.0                 24
13232.0                21
42091.0                20
114834.0               18
34037.0                16
33312.0                14
25621.0                14
25271.0                14
14906.0                13
31134.0                12
53162.0                 9
32927.0                 5
118880.0                4
10815.0                 4
13311.0                 3
21395.0                 3
24797.0                 2
37882.0                 1
6285.0                  1
Name: regionidcity, Length: 178, dtype: int64
97319.0             912
96987.0             902
96974.0             824
97329.0             760
97318.0             726
97118.0             719
97328.0             704
96993.0             687
96996.0             640
96962.0             624
96193.0             593
96995.0             570
96368.0             560
97116.0             546
96385.0             521
96964.0             516
96998.0             513
96505.0             512
96954.0             511
96989.0             504
96373.0             500
97091.0             498
96186.0             494
96377.0             493
96364.0             476
96389.0             474
97078.0             474
97083.0             464
96351.0             456
96236.0             449
                   ...
96986.0              35
nulls_regionidzi     35
96135.0              35
96323.0              33
96980.0              33
96207.0              32
97037.0              32
96434.0              30
96119.0              30
96021.0              29
96973.0              27
97316.0              26
96951.0              26
95998.0              21
97331.0              20
95991.0              18
97119.0              17
97324.0              16
399675.0             13
95995.0              12
96148.0              11
97108.0               6
96329.0               5
96002.0               4
96039.0               3
96500.0               2
96034.0               1
96467.0               1
97111.0               1
96226.0               1
Name: regionidzip, Length: 389, dtype: int64
nulls_regionidne    54263
118208.0              773
27080.0               755
48570.0               753
37739.0               715
48200.0               653
268496.0              631
51906.0               609
54300.0               540
113455.0              529
33183.0               497
274049.0              479
34213.0               477
46736.0               454
47880.0               450
47950.0               428
31817.0               417
113910.0              409
6952.0                408
274514.0              403
40548.0               397
118920.0              391
41131.0               371
268588.0              370
26134.0               352
276476.0              352
21056.0               341
41466.0               334
19810.0               332
32059.0               308
                    ...
416332.0                1
416335.0                1
273607.0                1
764152.0                1
761219.0                1
268446.0                1
273615.0                1
762191.0                1
273350.0                1
273313.0                1
220669.0                1
764136.0                1
762927.0                1
761220.0                1
762929.0                1
762932.0                1
273866.0                1
416311.0                1
762937.0                1
761214.0                1
764138.0                1
762947.0                1
764139.0                1
762949.0                1
272732.0                1
761098.0                1
764165.0                1
762955.0                1
762960.0                1
275287.0                1
Name: regionidneighborhood, Length: 495, dtype: int64
nulls_typeconstr    89976
6.0                   296
4.0                     2
13.0                    1
Name: typeconstructiontypeid, dtype: int64
1955.0    2261
1989.0    2058
1950.0    1994
1954.0    1940
1964.0    1919
1973.0    1818
1956.0    1760
1979.0    1671
1953.0    1661
1987.0    1635
1990.0    1620
1963.0    1541
1980.0    1518
1986.0    1505
1977.0    1489
1951.0    1456
1965.0    1449
1985.0    1435
1952.0    1434
1972.0    1429
1974.0    1385
1978.0    1378
1948.0    1346
1981.0    1324
1947.0    1310
1971.0    1291
1984.0    1282
1988.0    1264
1976.0    1249
1957.0    1239
          ...
1919.0      99
1907.0      94
1933.0      83
1909.0      79
1906.0      76
1916.0      74
1905.0      69
1918.0      67
1934.0      62
1917.0      56
1901.0      41
1903.0      36
1902.0      26
1904.0      25
2015.0      23
1890.0      18
1895.0      16
1900.0      13
1898.0      10
1885.0       6
1899.0       6
1894.0       5
1896.0       5
1897.0       3
1893.0       3
1892.0       3
1888.0       2
1891.0       1
1887.0       1
1886.0       1
Name: yearbuilt, Length: 131, dtype: int64
2015.0    90275
Name: assessmentyear, dtype: int64
nulls_taxdelinqu    88492
14.0                  628
15.0                  518
13.0                  210
12.0                  154
10.0                   89
11.0                   85
9.0                    63
8.0                    24
7.0                     8
6.0                     3
99.0                    1
Name: taxdelinquencyyear, dtype: int64
nulls_fireplacef    90053
True                  222
Name: fireplaceflag, dtype: int64
nulls_storytypei    90232
7.0                    43
Name: storytypeid, dtype: int64
nulls_taxdelinqu    88492
Y                    1783
Name: taxdelinquencyflag, dtype: int64

In [12]:
# others = [3, 9]
# for i in others:
#     result_df.loc[result_df['airconditioningtypeid'] == i] = "nulls_airconditi"
# print(result_df.groupby(['airconditioningtypeid']).size().reset_index)

<bound method Series.reset_index of airconditioningtypeid
1.0                 26668
5.0                   215
11.0                   63
13.0                 1833
nulls_airconditi    61496
dtype: int64>

In [14]:
formula = "logerror ~ "
for i in cat[:]:
    formula += "C(" + i + ") + "
formula = formula[:-3]
formula

'logerror ~ C(parcelid) + C(airconditioningtypeid) + C(architecturalstyletypeid) + C(buildingqualitytypeid) + C(buildingclasstypeid) + C(decktypeid) + C(fips) + C(hashottuborspa) + C(heatingorsystemtypeid) + C(propertycountylandusecode) + C(propertylandusetypeid) + C(propertyzoningdesc) + C(pooltypeid10) + C(pooltypeid2) + C(pooltypeid7) + C(rawcensustractandblock) + C(censustractandblock) + C(regionidcounty) + C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) + C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear) + C(fireplaceflag) + C(storytypeid) + C(taxdelinquencyflag)'

In [ ]:
# # formula for all(박제)
# formula = 'logerror ~ C(parcelid) + C(airconditioningtypeid) + C(architecturalstyletypeid) \
# + C(buildingqualitytypeid) + C(buildingclasstypeid) + C(decktypeid) + C(fips) \
# + C(hashottuborspa) + C(heatingorsystemtypeid) + C(propertycountylandusecode) \
# + C(propertylandusetypeid) + C(propertyzoningdesc) + C(pooltypeid10) + C(pooltypeid2) \
# + C(pooltypeid7) + C(rawcensustractandblock) + C(censustractandblock) + C(regionidcounty) \
# + C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) \
# + C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear) + C(fireplaceflag) \
# + C(storytypeid) + C(taxdelinquencyflag)'
# formula

In [51]:
formula = 'logerror ~ C(parcelid) + C(airconditioningtypeid) + C(architecturalstyletypeid) \
+ C(buildingqualitytypeid) + C(buildingclasstypeid) + C(decktypeid) + C(fips) \
+ C(hashottuborspa) + C(heatingorsystemtypeid) + C(propertycountylandusecode) \
+ C(propertylandusetypeid) + C(pooltypeid10) + C(pooltypeid2) \
+ C(pooltypeid7) + C(regionidcounty) \
+ C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) \
+ C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear) + C(fireplaceflag) \
+ C(storytypeid) + C(taxdelinquencyflag)'
formula

'logerror ~ C(parcelid) + C(airconditioningtypeid) + C(architecturalstyletypeid) + C(buildingqualitytypeid) + C(buildingclasstypeid) + C(decktypeid) + C(fips) + C(hashottuborspa) + C(heatingorsystemtypeid) + C(propertycountylandusecode) + C(propertylandusetypeid) + C(pooltypeid10) + C(pooltypeid2) + C(pooltypeid7) + C(regionidcounty) + C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) + C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear) + C(fireplaceflag) + C(storytypeid) + C(taxdelinquencyflag)'

In [ ]:
# VIF(C)

In [192]:
result_df.iloc[:, 15:].tail()

,rawcensustractandblock,censustractandblock,regionidcounty,regionidcity,regionidzip,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag,logerror,transactiondate
90270,6.037201e+07,6.0372e+13,3101.0,12447,96013,114914,nulls_typeconstr,2008,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0276,2016-04-15
90271,6.037407e+07,6.03741e+13,3101.0,39306,96490,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.1188,2016-06-07
90272,6.037191e+07,6.03719e+13,3101.0,12447,96009,32059,nulls_typeconstr,2011,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0843,2016-06-30
90273,6.059063e+07,nulls_censustrac,1286.0,52650,96947,275824,nulls_typeconstr,2012,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.0050,2016-03-31
90274,6.059001e+07,nulls_censustrac,1286.0,18874,96186,nulls_regionidne,nulls_typeconstr,2013,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0129,2016-09-13

In [ ]:
## pvalues가 큰 값 제거하는 프로그램

# 1.yearbuilt : .. > 3
# 2.regionidneighborhood :

In [193]:
# 수식 만들기
formula = "logerror ~ C(regionidneighborhood)"
model = sm.OLS.from_formula(formula, data=result_df)
result = model.fit()
print(result.summary())
# sm.stats.anova_lm(model.fit())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.796
Date:                Wed, 04 Jul 2018   Prob (F-statistic):           1.31e-24
Time:                        16:49:40   Log-Likelihood:                 37179.
No. Observations:               90275   AIC:                        -7.337e+04
Df Residuals:                   89780   BIC:                        -6.871e+04
Df Model:                         494
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
Intercept                                       0.0038      0.008      0.477      0.634      -0.012       0.019
C(regionidneighborhood)[T.7877.0]              -0.0045      0.013     -0.345      0.730      -0.030       0.021
C(regionidneighborhood)[T.11950.0]             -0.0245      0.044     -0.560      0.575      -0.110       0.061
C(regionidneighborhood)[T.13017.0]             -0.0051      0.012     -0.410      0.682      -0.029       0.019
C(regionidneighborhood)[T.13176.0]              0.0230      0.013      1.720      0.086      -0.003       0.049
C(regionidneighborhood)[T.13327.0]              0.0166      0.019      0.880      0.379      -0.020       0.054
C(regionidneighborhood)[T.19265.0]             -0.0050      0.057     -0.087      0.931      -0.117       0.107
C(regionidneighborhood)[T.19810.0]             -0.0054      0.012     -0.458      0.647      -0.029       0.018
C(regionidneighborhood)[T.21056.0]             -0.0198      0.012     -1.678      0.093      -0.043       0.003
C(regionidneighborhood)[T.22655.0]             -0.0029      0.045     -0.063      0.949      -0.092       0.086
C(regionidneighborhood)[T.25449.0]              0.0142      0.035      0.403      0.687      -0.055       0.083
C(regionidneighborhood)[T.26134.0]             -0.0052      0.012     -0.445      0.656      -0.028       0.018
C(regionidneighborhood)[T.27080.0]              0.0044      0.010      0.450      0.653      -0.015       0.024
C(regionidneighborhood)[T.27328.0]             -0.0047      0.014     -0.331      0.741      -0.033       0.023
C(regionidneighborhood)[T.27431.0]             -0.0244      0.018     -1.380      0.168      -0.059       0.010
C(regionidneighborhood)[T.27484.0]              0.0237      0.014      1.708      0.088      -0.003       0.051
C(regionidneighborhood)[T.27987.0]              0.0116      0.012      0.944      0.345      -0.012       0.036
C(regionidneighborhood)[T.28119.0]             -0.0092      0.014     -0.654      0.513      -0.037       0.018
C(regionidneighborhood)[T.30685.0]              0.0156      0.072      0.216      0.829      -0.126       0.157
C(regionidneighborhood)[T.30731.0]              0.0054      0.014      0.392      0.695      -0.022       0.032
C(regionidneighborhood)[T.31817.0]              0.0155      0.011      1.382      0.167      -0.006       0.037
C(regionidneighborhood)[T.32059.0]              0.0126      0.012      1.039      0.299      -0.011       0.036
C(regionidneighborhood)[T.32368.0]             -0.0131      0.013     -0.994      0.320      -0.039       0.013
C(regionidneighborhood)[T.33183.0]              0.0354      0.011      3.301      0.001       0.014       0.056
C(regionidneighborhood)[T.33952.0]             -0.0009      0.023     -0.039      0.969      -0.046       0.044
C(regionidneighborhood)[T.34213.0]             -0.0094      0.011     -0.868      0.385      -0.031       0.012
C(regionidneighborhood)[T.36630.0]              1.0388      0.093     11.153      0.000       0.856       1.221
C(regionidneighborhood)[T.37739.0]              0.0076      0.010      0.762      0.446      -0.012       0.027
C(regionidneighborhood)[T.37835.0]              0.0140      0.012      1.144      0.253      -0.010       0.038
C(regionidneighborhood)[T.38888.0]              0.0027      0.016      0.172      0.863      -0.028       0.033
C(regionidneighborhood)[T.40215.0]              0.0228      0.013      1.713      0.087      -0.003       0.049
C(regionidneighborhood)[T.40548.0]              0.0252      0.011      2.227      0.026       0.003       0.047
C(regionidneighborhood)[T.41131.0]              0.0082      0.012      0.707      0.479      -0.014       0.031
C(regionidneighborhood)[T.41466.0]              0.0022      0.012      0.185      0.853      -0.021       0.025
C(regionidneighborhood)[T.46736.0]              0.0133      0.011      1.214      0.225      -0.008       0.035
C(regionidneighborhood)[T.46795.0]              0.0041      0.012      0.332      0.740      -0.020       0.028
C(regionidneighborhood)[T.47880.0]              0.0227      0.011      2.068      0.039       0.001       0.044
C(regionidneighborhood)[T.47950.0]              0.0224      0.011      2.013      0.044       0.001       0.044
C(regionidneighborhood)[T.48200.0]             -0.0008      0.010     -0.080      0.936      -0.021       0.019
C(regionidneighborhood)[T.48516.0]              0.0237      0.016      1.494      0.135      -0.007       0.055
C(regionidneighborhood)[T.48570.0]              0.0133      0.010      1.349      0.177      -0.006       0.033
C(regionidneighborhood)[T.51224.0]             -0.0112      0.066     -0.170      0.865      -0.141       0.118
C(regionidneighborhood)[T.51906.0]              0.0075      0.010      0.732      0.464      -0.013       0.028
C(regionidneighborhood)[T.54300.0]              0.0096      0.011      0.913      0.361      -0.011       0.030
C(regionidneighborhood)[T.113455.0]             0.0132      0.011      1.246      0.213      -0.008       0.034
C(regionidneighborhood)[T.113688.0]             0.0154      0.019      0.809      0.418      -0.022       0.053
C(regionidneighborhood)[T.113713.0]            -0.0256      0.022     -1.142      0.253      -0.069       0.018
C(regionidneighborhood)[T.113749.0]             0.0329      0.014      2.340      0.019       0.005       0.060
C(regionidneighborhood)[T.113886.0]             0.0272      0.016      1.716      0.086      -0.004       0.058
C(regionidneighborhood)[T.113910.0]             0.0060      0.011      0.536      0.592      -0.016       0.028
C(regionidneighborhood)[T.114246.0]            -0.0281      0.016     -1.746      0.081      -0.060       0.003
C(regionidneighborhood)[T.114808.0]            -0.0094      0.014     -0.661      0.509      -0.037       0.018
C(regionidneighborhood)[T.114909.0]             0.1637      0.114      1.437      0.151      -0.060       0.387
C(regionidneighborhood)[T.114914.0]             0.0132      0.013      1.025      0.305      -0.012       0.038
C(regionidneighborhood)[T.115609.0]             0.0143      0.013      1.078      0.281      -0.012       0.040
C(regionidneighborhood)[T.115656.0]            -0.0213      0.081     -0.263      0.792      -0.180       0.137
C(regionidneighborhood)[T.115657.0]             0.1193      0.018      6.569      0.000       0.084       0.155
C(regionidneighborhood)[T.115729.0]             0.0242      0.014      1.689      0.091      -0.004       0.052
C(regionidneighborhood)[T.115836.0]            -0.0192      0.017     -1.155      0.248      -0.052       0.013
C(regionidneighborhood)[T.116206.0]             0.0143      0.022      0.654      0.513      -0.029       0.057
C(regionidneighborhood)[T.116302.0]            -0.0009      0.019     -0.050      0.960      -0.038       0.036
C(regionidneighborhood)[T.116375.0]             0.0149      0.033      0.449      0.654      -0.050       0.080
C(regionidneighborhood)[T.116415.0]            -0.0098      0.013     -0.751      0.452      -0.035       0.016
C(regionidneighborhood)[T.116430.0]            -0.0016      0.054     -0.030      0.976      -0.108       0.105
C(regionidneighborhood)[T.116646.0]             0.0047      0.018      0.259      0.795      -0.031       0.040
C(regionidneighborhood)[T.116692.0]            -0.0175      0.040     -0.439      0.661      -0.095       0.061
C(regionidneighborhood)[T.116774.0]             0.0218      0.017      1.298      0.194      -0.011       0.055
C(regionidneighborhood)[T.116828.0]            -0.0125      0.022     -0.563      0.573      -0.056       0.031
C(regionidneighborhood)[T.117023.0]             0.0113      0.034      0.334      0.739      -0.055       0.077
C(regionidneighborhood)[T.117148.0]             0.0414      0.061      0.676      0.499      -0.079       0.162
C(regionidneighborhood)[T.117183.0]            -0.0392      0.017     -2.287      0.022      -0.073      -0.006
C(regionidneighborhood)[T.117954.0]            -0.0048      0.015     -0.330      0.742      -0.033       0.024
C(regionidneighborhood)[T.118106.0]            -0.1378      0.114     -1.210      0.226      -0.361       0.085
C(regionidneighborhood)[T.118208.0]            -0.0222      0.010     -2.258      0.024      -0.041      -0.003
C(regionidneighborhood)[T.118825.0]            -0.0362      0.029     -1.243      0.214      -0.093       0.021
C(regionidneighborhood)[T.118849.0]             0.0361      0.015      2.355      0.019       0.006       0.066
C(regionidneighborhood)[T.118872.0]            -0.0027      0.013     -0.214      0.831      -0.027       0.022
C(regionidneighborhood)[T.118887.0]             0.0122      0.016      0.740      0.459      -0.020       0.044
C(regionidneighborhood)[T.118920.0]             0.0431      0.011      3.785      0.000       0.021       0.065
C(regionidneighborhood)[T.135143.0]            -0.0826      0.081     -1.023      0.306      -0.241       0.076
C(regionidneighborhood)[T.155228.0]             0.0106      0.045      0.234      0.815      -0.078       0.099
C(regionidneighborhood)[T.156012.0]            -0.0144      0.047     -0.306      0.759      -0.107       0.078
C(regionidneighborhood)[T.191484.0]             0.0005      0.031      0.015      0.988      -0.060       0.061
C(regionidneighborhood)[T.214079.0]            -0.0340      0.038     -0.902      0.367      -0.108       0.040
C(regionidneighborhood)[T.220669.0]             0.0189      0.161      0.117      0.906      -0.297       0.334
C(regionidneighborhood)[T.224568.0]            -0.0055      0.041     -0.135      0.893      -0.086       0.075
C(regionidneighborhood)[T.246825.0]            -0.0357      0.093     -0.383      0.702      -0.218       0.147
C(regionidneighborhood)[T.248165.0]            -0.0256      0.081     -0.317      0.751      -0.184       0.133
C(regionidneighborhood)[T.259315.0]            -0.0353      0.114     -0.310      0.757      -0.259       0.188
C(regionidneighborhood)[T.259606.0]             0.0436      0.028      1.541      0.123      -0.012       0.099
C(regionidneighborhood)[T.259818.0]            -0.0294      0.045     -0.650      0.516      -0.118       0.059
C(regionidneighborhood)[T.260382.0]             0.0219      0.161      0.136      0.892      -0.294       0.337
C(regionidneighborhood)[T.260611.0]            -0.0052      0.061     -0.085      0.932      -0.125       0.115
C(regionidneighborhood)[T.262098.0]            -0.0148      0.032     -0.463      0.643      -0.077       0.048
C(regionidneighborhood)[T.265889.0]             0.0169      0.036      0.470      0.638      -0.054       0.087
C(regionidneighborhood)[T.266606.0]            -0.0230      0.093     -0.247      0.805      -0.206       0.160
C(regionidneighborhood)[T.267436.0]             0.1271      0.072      1.757      0.079      -0.015       0.269
C(regionidneighborhood)[T.267814.0]            -0.1185      0.093     -1.273      0.203      -0.301       0.064
C(regionidneighborhood)[T.268002.0]            -0.0029      0.015     -0.187      0.852      -0.033       0.027
C(regionidneighborhood)[T.268007.0]             0.0468      0.028      1.652      0.098      -0.009       0.102
C(regionidneighborhood)[T.268010.0]            -0.0158      0.020     -0.776      0.438      -0.056       0.024
C(regionidneighborhood)[T.268050.0]            -0.0049      0.061     -0.081      0.936      -0.125       0.115
C(regionidneighborhood)[T.268055.0]             0.0666      0.037      1.809      0.070      -0.006       0.139
C(regionidneighborhood)[T.268057.0]            -0.0353      0.022     -1.588      0.112      -0.079       0.008
C(regionidneighborhood)[T.268097.0]            -0.0146      0.017     -0.866      0.386      -0.048       0.018
C(regionidneighborhood)[T.268103.0]             0.0837      0.039      2.162      0.031       0.008       0.160
C(regionidneighborhood)[T.268118.0]             0.0194      0.015      1.328      0.184      -0.009       0.048
C(regionidneighborhood)[T.268132.0]             0.0776      0.037      2.109      0.035       0.005       0.150
C(regionidneighborhood)[T.268134.0]            -0.0063      0.017     -0.367      0.713      -0.040       0.027
C(regionidneighborhood)[T.268144.0]             0.0765      0.093      0.821      0.412      -0.106       0.259
C(regionidneighborhood)[T.268157.0]             0.0583      0.045      1.288      0.198      -0.030       0.147
C(regionidneighborhood)[T.268160.0]            -0.0251      0.031     -0.811      0.417      -0.086       0.035
C(regionidneighborhood)[T.268162.0]             0.0355      0.061      0.579      0.563      -0.085       0.156
C(regionidneighborhood)[T.268208.0]             0.0429      0.042      1.016      0.310      -0.040       0.126
C(regionidneighborhood)[T.268236.0]             0.0131      0.016      0.815      0.415      -0.018       0.045
C(regionidneighborhood)[T.268244.0]             0.0437      0.039      1.128      0.259      -0.032       0.120
C(regionidneighborhood)[T.268249.0]            -0.0049      0.020     -0.243      0.808      -0.044       0.034
C(regionidneighborhood)[T.268253.0]             0.0604      0.045      1.333      0.183      -0.028       0.149
C(regionidneighborhood)[T.268268.0]             0.0202      0.061      0.330      0.742      -0.100       0.140
C(regionidneighborhood)[T.268269.0]            -0.0156      0.036     -0.435      0.663      -0.086       0.055
C(regionidneighborhood)[T.268288.0]             0.0306      0.032      0.958      0.338      -0.032       0.093
C(regionidneighborhood)[T.268291.0]             0.0593      0.114      0.521      0.603      -0.164       0.283
C(regionidneighborhood)[T.268293.0]             0.0245      0.030      0.805      0.421      -0.035       0.084
C(regionidneighborhood)[T.268316.0]            -0.0044      0.026     -0.170      0.865      -0.055       0.046
C(regionidneighborhood)[T.268323.0]             0.0197      0.047      0.419      0.675      -0.073       0.112
C(regionidneighborhood)[T.268334.0]             0.0521      0.049      1.061      0.289      -0.044       0.148
C(regionidneighborhood)[T.268392.0]             0.0189      0.031      0.613      0.540      -0.042       0.079
C(regionidneighborhood)[T.268403.0]             0.0210      0.034      0.610      0.542      -0.047       0.089
C(regionidneighborhood)[T.268404.0]             0.0414      0.027      1.556      0.120      -0.011       0.094
C(regionidneighborhood)[T.268413.0]             0.0126      0.057      0.219      0.826      -0.100       0.125
C(regionidneighborhood)[T.268430.0]            -0.0073      0.049     -0.148      0.883      -0.104       0.089
C(regionidneighborhood)[T.268441.0]             0.0470      0.017      2.711      0.007       0.013       0.081
C(regionidneighborhood)[T.268446.0]            -0.0048      0.161     -0.030      0.976      -0.320       0.311
C(regionidneighborhood)[T.268451.0]             0.1189      0.114      1.043      0.297      -0.104       0.342
C(regionidneighborhood)[T.268453.0]            -0.0217      0.044     -0.497      0.620      -0.107       0.064
C(regionidneighborhood)[T.268454.0]             0.0543      0.093      0.583      0.560      -0.128       0.237
C(regionidneighborhood)[T.268473.0]            -0.0208      0.013     -1.610      0.107      -0.046       0.005
C(regionidneighborhood)[T.268482.0]             0.0059      0.031      0.191      0.849      -0.055       0.066
C(regionidneighborhood)[T.268496.0]            -0.0378      0.010     -3.705      0.000      -0.058      -0.018
C(regionidneighborhood)[T.268509.0]             0.0505      0.054      0.932      0.351      -0.056       0.157
C(regionidneighborhood)[T.268540.0]            -0.1549      0.045     -3.420      0.001      -0.244      -0.066
C(regionidneighborhood)[T.268546.0]             0.0085      0.039      0.219      0.827      -0.067       0.084
C(regionidneighborhood)[T.268548.0]             0.0096      0.013      0.764      0.445      -0.015       0.034
C(regionidneighborhood)[T.268551.0]            -0.0151      0.014     -1.069      0.285      -0.043       0.013
C(regionidneighborhood)[T.268572.0]            -0.0180      0.041     -0.440      0.660      -0.098       0.062
C(regionidneighborhood)[T.268581.0]             0.0012      0.016      0.075      0.940      -0.031       0.033
C(regionidneighborhood)[T.268585.0]             0.0120      0.039      0.311      0.756      -0.064       0.088
C(regionidneighborhood)[T.268587.0]            -0.0390      0.072     -0.539      0.590      -0.181       0.103
C(regionidneighborhood)[T.268588.0]             0.0056      0.012      0.487      0.626      -0.017       0.028
C(regionidneighborhood)[T.268596.0]             0.0707      0.044      1.618      0.106      -0.015       0.156
C(regionidneighborhood)[T.268602.0]             0.0543      0.045      1.200      0.230      -0.034       0.143
C(regionidneighborhood)[T.268604.0]             0.0258      0.044      0.591      0.555      -0.060       0.111
C(regionidneighborhood)[T.268605.0]            -0.0193      0.093     -0.207      0.836      -0.202       0.163
C(regionidneighborhood)[T.272170.0]             0.0140      0.161      0.087      0.931      -0.301       0.329
C(regionidneighborhood)[T.272725.0]             0.0032      0.030      0.109      0.913      -0.055       0.061
C(regionidneighborhood)[T.272732.0]            -0.0457      0.161     -0.284      0.776      -0.361       0.270
C(regionidneighborhood)[T.272737.0]             0.0018      0.026      0.069      0.945      -0.049       0.053
C(regionidneighborhood)[T.272912.0]             0.0469      0.051      0.912      0.362      -0.054       0.148
C(regionidneighborhood)[T.272933.0]             0.0152      0.018      0.821      0.412      -0.021       0.051
C(regionidneighborhood)[T.272968.0]            -0.0014      0.017     -0.084      0.933      -0.035       0.032
C(regionidneighborhood)[T.272969.0]             0.0077      0.030      0.259      0.796      -0.051       0.066
C(regionidneighborhood)[T.273041.0]             0.0440      0.057      0.766      0.444      -0.069       0.156
C(regionidneighborhood)[T.273042.0]             0.0738      0.114      0.647      0.517      -0.150       0.297
C(regionidneighborhood)[T.273059.0]             0.0784      0.044      1.794      0.073      -0.007       0.164
C(regionidneighborhood)[T.273096.0]             0.0111      0.016      0.711      0.477      -0.020       0.042
C(regionidneighborhood)[T.273109.0]             0.0075      0.020      0.369      0.712      -0.032       0.047
C(regionidneighborhood)[T.273168.0]             0.0165      0.061      0.269      0.788      -0.104       0.137
C(regionidneighborhood)[T.273197.0]             0.0202      0.022      0.937      0.349      -0.022       0.063

In [195]:
a = model.fit().pvalues
a[a < 0.01]

C(regionidneighborhood)[T.33183.0]     9.653289e-04
C(regionidneighborhood)[T.36630.0]     7.222851e-29
C(regionidneighborhood)[T.115657.0]    5.091150e-11
C(regionidneighborhood)[T.118920.0]    1.537294e-04
C(regionidneighborhood)[T.268441.0]    6.712487e-03
C(regionidneighborhood)[T.268496.0]    2.116422e-04
C(regionidneighborhood)[T.268540.0]    6.256375e-04
C(regionidneighborhood)[T.274587.0]    4.404207e-03
C(regionidneighborhood)[T.275340.0]    9.016029e-07
C(regionidneighborhood)[T.275567.0]    6.107307e-03
C(regionidneighborhood)[T.275795.0]    1.279679e-11
C(regionidneighborhood)[T.343505.0]    2.808725e-03
C(regionidneighborhood)[T.403193.0]    5.340014e-03
C(regionidneighborhood)[T.416314.0]    7.005621e-05
C(regionidneighborhood)[T.416336.0]    4.167249e-03
C(regionidneighborhood)[T.623377.0]    9.612215e-03
C(regionidneighborhood)[T.623380.0]    8.089103e-03
C(regionidneighborhood)[T.760999.0]    2.779462e-05
C(regionidneighborhood)[T.761542.0]    1.666812e-03
C(regionidneighborhood)[T.762178.0]    1.479561e-07
C(regionidneighborhood)[T.762961.0]    7.653674e-03
dtype: float64

In [180]:
a.index[1][-7:-3]

'rbui'

In [228]:
# pvalues 만들기

pvalue = result.pvalues
pvalue.tail()

C(regionidneighborhood)[T.764164.0]            0.583433
C(regionidneighborhood)[T.764165.0]            0.432160
C(regionidneighborhood)[T.764166.0]            0.176491
C(regionidneighborhood)[T.764167.0]            0.547032
C(regionidneighborhood)[T.nulls_regionidne]    0.288714
dtype: float64

In [229]:
pvalue = pvalue.reset_index()
pvalue.tail()

                                           index         0
490          C(regionidneighborhood)[T.764164.0]  0.583433
491          C(regionidneighborhood)[T.764165.0]  0.432160
492          C(regionidneighborhood)[T.764166.0]  0.176491
493          C(regionidneighborhood)[T.764167.0]  0.547032
494  C(regionidneighborhood)[T.nulls_regionidne]  0.288714

In [222]:
pvalue.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494])

In [230]:
pvalue.tail()

                                           index         0
490          C(regionidneighborhood)[T.764164.0]  0.583433
491          C(regionidneighborhood)[T.764165.0]  0.432160
492          C(regionidneighborhood)[T.764166.0]  0.176491
493          C(regionidneighborhood)[T.764167.0]  0.547032
494  C(regionidneighborhood)[T.nulls_regionidne]  0.288714

In [239]:
others = []
length = len(pvalue)

for i in range(length):
    if pvalue.iloc[:,-1:].values[i] > 0.01:
        idx = pvalue.index.values[i] + 1
        others.append(idx)
others

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 133,
 134,
 135,
 136,
 137,
 138,
 140,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 249,
 250,
 251,
 252,
 253,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 349,
 350,
 352,
 353,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495]

In [241]:
len(others), len(pvalue), type(others)

(474, 495, list)

In [242]:
result_copy = result_df.copy()
result_copy.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,hashottuborspa,heatingorsystemtypeid,propertycountylandusecode,...,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag,logerror,transactiondate
90270,11876798,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,0100,...,114914,nulls_typeconstr,2008,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0276,2016-04-15
90271,12808516,nulls_airconditi,nulls_architectu,7,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,7,0100,...,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.1188,2016-06-07
90272,12010248,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,010C,...,32059,nulls_typeconstr,2011,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0843,2016-06-30
90273,14310905,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,275824,nulls_typeconstr,2012,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.0050,2016-03-31
90274,14636609,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,nulls_regionidne,nulls_typeconstr,2013,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0129,2016-09-13

In [254]:
result_copy["regionidneighborhood"].replace(others, 1, inplace=True)
result_copy["regionidneighborhood"].tail()

90270              114914
90271    nulls_regionidne
90272               32059
90273              275824
90274    nulls_regionidne
Name: regionidneighborhood, dtype: object

In [255]:
result_copy[15:].tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,hashottuborspa,heatingorsystemtypeid,propertycountylandusecode,...,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,storytypeid,taxdelinquencyflag,logerror,transactiondate
90270,11876798,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,0100,...,114914,nulls_typeconstr,2008,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0276,2016-04-15
90271,12808516,nulls_airconditi,nulls_architectu,7,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,7,0100,...,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.1188,2016-06-07
90272,12010248,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,nulls_hashottubo,2,010C,...,32059,nulls_typeconstr,2011,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0843,2016-06-30
90273,14310905,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,275824,nulls_typeconstr,2012,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,-0.0050,2016-03-31
90274,14636609,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_hashottubo,nulls_heatingors,1,...,nulls_regionidne,nulls_typeconstr,2013,2015.0,nulls_taxdelinqu,nulls_fireplacef,nulls_storytypei,nulls_taxdelinqu,0.0129,2016-09-13

In [256]:
result_copy['regionidneighborhood'].value_counts()

nulls_regionidne    54263
118208.0              773
27080.0               755
48570.0               753
37739.0               715
48200.0               653
268496.0              631
51906.0               609
54300.0               540
113455.0              529
33183.0               497
274049.0              479
34213.0               477
46736.0               454
47880.0               450
47950.0               428
31817.0               417
113910.0              409
6952.0                408
274514.0              403
40548.0               397
118920.0              391
41131.0               371
268588.0              370
26134.0               352
276476.0              352
21056.0               341
41466.0               334
19810.0               332
32059.0               308
                    ...
416332.0                1
416335.0                1
273607.0                1
764152.0                1
761219.0                1
268446.0                1
273615.0                1
762191.0                1
273350.0                1
273313.0                1
220669.0                1
764136.0                1
762927.0                1
761220.0                1
762929.0                1
762932.0                1
273866.0                1
416311.0                1
762937.0                1
761214.0                1
764138.0                1
762947.0                1
764139.0                1
762949.0                1
272732.0                1
761098.0                1
764165.0                1
762955.0                1
762960.0                1
275287.0                1
Name: regionidneighborhood, Length: 495, dtype: int64

In [237]:
pvalue.index.values[0] + 1

0

In [ ]:
others = []
length = len(pvalue)

for i in range(length):
    if pvalue.values[i] > 0.01:
        others.append(pvalue.index[i][a:b])

In [ ]:
xxx_df['A'].index.values.tolist()

In [181]:
def find_others(pvalue, a, b):
    others = []
    length = len(pvalue)

    for i in range(length):
        if pvalue.values[i] > 0.01:
            others.append(pvalue.index[i][a:b])

    del others[0]
    del others[-1]
    list(np.array(others).astype(float))
    return others

In [185]:
others = find_others(pvalue, -7, -3)
others

['1886',
 '1887',
 '1888',
 '1890',
 '1891',
 '1892',
 '1893',
 '1894',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '1900',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1908',
 '1909',
 '1910',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

In [250]:
result_df["yearbuilt"].replace(to_replace=others, "others", inplace=True)
result_df["yearbuilt"].tail()

SyntaxError: positional argument follows keyword argument (<ipython-input-250-f5c491f07f72>, line 1)

In [177]:
# 수식 만들기
formula = "logerror ~ C(yearbuilt)"
model = sm.OLS.from_formula(formula, data=result_df)
result = model.fit()
print(result.summary())
# sm.stats.anova_lm(model.fit())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.4107
Date:                Wed, 04 Jul 2018   Prob (F-statistic):              0.663
Time:                        16:42:43   Log-Likelihood:                 36736.
No. Observations:               90275   AIC:                        -7.347e+04
Df Residuals:                   90272   BIC:                        -7.344e+04
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                           0.0470      0.066      0.714      0.475      -0.082       0.176
C(yearbuilt)[T.nulls_yearbuilt]    -0.0398      0.066     -0.602      0.547      -0.169       0.090
C(yearbuilt)[T.others]             -0.0355      0.066     -0.539      0.590      -0.164       0.093
==============================================================================
Omnibus:                    66190.274   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64999112.197
Skew:                           2.170   Prob(JB):                         0.00
Kurtosis:                     134.383   Cond. No.                         300.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [187]:
result_df['yearbuilt'].tail()

90270    others
90271    others
90272    others
90273    others
90274    others
Name: yearbuilt, dtype: object

In [205]:
xxx_df = pd.DataFrame()
xxx_df['A'] = [1, 2, 3, 4]
xxx_df['B'] = [1, 2, 3, 4]
xxx_df

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

In [211]:
xxx_df['A'].index.values.tolist()

[0, 1, 2, 3]

In [ ]:
result_copy["regionidneighborhood"].replace(others, value="others", inplace=True)
result_copy["regionidneighborhood"].tail()

In [249]:
type(others)

list

In [204]:
xxx_df.replace([1, 2, 3], 9, inplace=True)
xxx_df

   A  B
0  9  9
1  9  9
2  9  9
3  4  4

In [198]:
xxx_df

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

In [59]:
# 수식 만들기
formula = "logerror ~ C(yearbuilt)"
model = sm.OLS.from_formula(formula, data=result_df)
print(model.fit().summary2())
# sm.stats.anova_lm(model.fit())

                       Results: Ordinary least squares
==============================================================================
Model:                  OLS                 Adj. R-squared:        0.001
Dependent Variable:     logerror            AIC:                   -73430.3909
Date:                   2018-07-04 14:38    BIC:                   -72197.6002
No. Observations:       90275               Log-Likelihood:        36846.
Df Model:               130                 F-statistic:           1.703
Df Residuals:           90144               Prob (F-statistic):    1.04e-06
R-squared:              0.002               Scale:                 0.025920
------------------------------------------------------------------------------
                                 Coef.  Std.Err.    t    P>|t|   [0.025 0.975]
------------------------------------------------------------------------------
Intercept                        0.0470   0.0657  0.7146 0.4749 -0.0819 0.1758
C(yearbuilt)[T.1886.0]          -0.0480   0.1739 -0.2758 0.7827 -0.3888 0.2929
C(yearbuilt)[T.1887.0]          -0.0390   0.1739 -0.2241 0.8227 -0.3798 0.3019
C(yearbuilt)[T.1888.0]          -0.1162   0.1315 -0.8837 0.3769 -0.3738 0.1415
C(yearbuilt)[T.1890.0]          -0.0155   0.0759 -0.2037 0.8386 -0.1642 0.1333
C(yearbuilt)[T.1891.0]           0.3585   0.1739  2.0618 0.0392  0.0177 0.6994
C(yearbuilt)[T.1892.0]          -0.0110   0.1138 -0.0966 0.9230 -0.2341 0.2121
C(yearbuilt)[T.1893.0]          -0.1626   0.1138 -1.4283 0.1532 -0.3857 0.0605
C(yearbuilt)[T.1894.0]          -0.0891   0.0975 -0.9140 0.3607 -0.2802 0.1020
C(yearbuilt)[T.1895.0]          -0.0597   0.0771 -0.7747 0.4385 -0.2108 0.0913
C(yearbuilt)[T.1896.0]          -0.0066   0.0975 -0.0676 0.9461 -0.1977 0.1845
C(yearbuilt)[T.1897.0]          -0.0147   0.1138 -0.1294 0.8970 -0.2379 0.2084
C(yearbuilt)[T.1898.0]           0.0147   0.0831  0.1766 0.8598 -0.1483 0.1776
C(yearbuilt)[T.1899.0]          -0.0395   0.0930 -0.4248 0.6710 -0.2217 0.1427
C(yearbuilt)[T.1900.0]          -0.0126   0.0795 -0.1581 0.8744 -0.1683 0.1432
C(yearbuilt)[T.1901.0]          -0.0620   0.0704 -0.8812 0.3782 -0.1999 0.0759
C(yearbuilt)[T.1902.0]           0.0157   0.0729  0.2151 0.8297 -0.1272 0.1586
C(yearbuilt)[T.1903.0]          -0.0418   0.0710 -0.5886 0.5561 -0.1809 0.0974
C(yearbuilt)[T.1904.0]          -0.1113   0.0732 -1.5213 0.1282 -0.2548 0.0321
C(yearbuilt)[T.1905.0]          -0.0658   0.0685 -0.9600 0.3371 -0.2001 0.0685
C(yearbuilt)[T.1906.0]          -0.0222   0.0683 -0.3250 0.7452 -0.1560 0.1116
C(yearbuilt)[T.1907.0]          -0.0473   0.0678 -0.6973 0.4856 -0.1801 0.0856
C(yearbuilt)[T.1908.0]          -0.0548   0.0675 -0.8110 0.4174 -0.1872 0.0776
C(yearbuilt)[T.1909.0]          -0.0903   0.0682 -1.3247 0.1853 -0.2239 0.0433
C(yearbuilt)[T.1910.0]          -0.0153   0.0668 -0.2295 0.8185 -0.1464 0.1157
C(yearbuilt)[T.1911.0]          -0.0605   0.0671 -0.9019 0.3671 -0.1921 0.0710
C(yearbuilt)[T.1912.0]          -0.0226   0.0667 -0.3383 0.7351 -0.1532 0.1081
C(yearbuilt)[T.1913.0]          -0.0594   0.0671 -0.8851 0.3761 -0.1910 0.0722
C(yearbuilt)[T.1914.0]          -0.0157   0.0674 -0.2323 0.8163 -0.1478 0.1165
C(yearbuilt)[T.1915.0]          -0.0283   0.0676 -0.4193 0.6750 -0.1608 0.1041
C(yearbuilt)[T.1916.0]          -0.0090   0.0683 -0.1318 0.8951 -0.1430 0.1249
C(yearbuilt)[T.1917.0]          -0.0097   0.0692 -0.1406 0.8882 -0.1453 0.1258
C(yearbuilt)[T.1918.0]          -0.0764   0.0686 -1.1143 0.2652 -0.2109 0.0580
C(yearbuilt)[T.1919.0]          -0.0349   0.0677 -0.5162 0.6057 -0.1676 0.0977
C(yearbuilt)[T.1920.0]          -0.0294   0.0664 -0.4420 0.6585 -0.1595 0.1008
C(yearbuilt)[T.1921.0]          -0.0442   0.0663 -0.6671 0.5047 -0.1741 0.0857
C(yearbuilt)[T.1922.0]          -0.0479   0.0661 -0.7258 0.4680 -0.1774 0.0815
C(yearbuilt)[T.1923.0]          -0.0473   0.0660 -0.7175 0.4730 -0.1766 0.0820
C(yearbuilt)[T.1924.0]          -0.0493   0.0660 -0.7472 0.4550 -0.1786 0.0800
C(yearbuilt)[T.1925.0]          -0.0367   0.0660 -0.5553 0.5787 -0.1661 0.0927
C(yearbuilt)[T.1926.0]          -0.0347   0.0660 -0.5261 0.5988 -0.1642 0.0947
C(yearbuilt)[T.1927.0]          -0.0477   0.0662 -0.7218 0.4704 -0.1774 0.0819
C(yearbuilt)[T.1928.0]          -0.0431   0.0661 -0.6520 0.5144 -0.1726 0.0865
C(yearbuilt)[T.1929.0]          -0.0313   0.0662 -0.4727 0.6364 -0.1611 0.0985
C(yearbuilt)[T.1930.0]          -0.0464   0.0663 -0.7001 0.4839 -0.1764 0.0835
C(yearbuilt)[T.1931.0]          -0.0271   0.0668 -0.4066 0.6843 -0.1580 0.1037
C(yearbuilt)[T.1932.0]          -0.0318   0.0675 -0.4720 0.6369 -0.1641 0.1004
C(yearbuilt)[T.1933.0]           0.0212   0.0681  0.3120 0.7550 -0.1122 0.1546
C(yearbuilt)[T.1934.0]           0.0003   0.0688  0.0045 0.9964 -0.1346 0.1352
C(yearbuilt)[T.1935.0]          -0.0272   0.0670 -0.4053 0.6852 -0.1586 0.1042
C(yearbuilt)[T.1936.0]          -0.0495   0.0664 -0.7460 0.4557 -0.1796 0.0806
C(yearbuilt)[T.1937.0]          -0.0409   0.0662 -0.6173 0.5371 -0.1707 0.0889
C(yearbuilt)[T.1938.0]          -0.0400   0.0662 -0.6050 0.5452 -0.1698 0.0897
C(yearbuilt)[T.1939.0]          -0.0605   0.0661 -0.9162 0.3596 -0.1901 0.0690
C(yearbuilt)[T.1940.0]          -0.0404   0.0660 -0.6120 0.5405 -0.1697 0.0890
C(yearbuilt)[T.1941.0]          -0.0371   0.0660 -0.5619 0.5742 -0.1665 0.0923
C(yearbuilt)[T.1942.0]          -0.0500   0.0662 -0.7550 0.4503 -0.1796 0.0797
C(yearbuilt)[T.1943.0]          -0.0259   0.0669 -0.3864 0.6992 -0.1570 0.1053
C(yearbuilt)[T.1944.0]          -0.0484   0.0663 -0.7309 0.4648 -0.1784 0.0815
C(yearbuilt)[T.1945.0]          -0.0396   0.0665 -0.5962 0.5510 -0.1699 0.0907
C(yearbuilt)[T.1946.0]          -0.0558   0.0661 -0.8445 0.3984 -0.1854 0.0737
C(yearbuilt)[T.1947.0]          -0.0402   0.0659 -0.6101 0.5418 -0.1693 0.0889
C(yearbuilt)[T.1948.0]          -0.0332   0.0659 -0.5033 0.6147 -0.1623 0.0960
C(yearbuilt)[T.1949.0]          -0.0397   0.0659 -0.6020 0.5472 -0.1688 0.0895
C(yearbuilt)[T.1950.0]          -0.0404   0.0658 -0.6139 0.5393 -0.1694 0.0886
C(yearbuilt)[T.1951.0]          -0.0357   0.0659 -0.5428 0.5873 -0.1648 0.0933
C(yearbuilt)[T.1952.0]          -0.0405   0.0659 -0.6144 0.5390 -0.1696 0.0886
C(yearbuilt)[T.1953.0]          -0.0366   0.0658 -0.5562 0.5781 -0.1657 0.0924
C(yearbuilt)[T.1954.0]          -0.0380   0.0658 -0.5780 0.5633 -0.1671 0.0910
C(yearbuilt)[T.1955.0]          -0.0385   0.0658 -0.5855 0.5582 -0.1675 0.0905
C(yearbuilt)[T.1956.0]          -0.0359   0.0658 -0.5452 0.5856 -0.1649 0.0931
C(yearbuilt)[T.1957.0]          -0.0370   0.0659 -0.5617 0.5743 -0.1661 0.0921
C(yearbuilt)[T.1958.0]          -0.0371   0.0659 -0.5627 0.5736 -0.1663 0.0921
C(yearbuilt)[T.1959.0]          -0.0338   0.0659 -0.5126 0.6082 -0.1629 0.0954
C(yearbuilt)[T.1960.0]          -0.0352   0.0659 -0.5339 0.5934 -0.1644 0.0940
C(yearbuilt)[T.1961.0]          -0.0290   0.0659 -0.4397 0.6601 -0.1582 0.1002
C(yearbuilt)[T.1962.0]          -0.0205   0.0659 -0.3104 0.7563 -0.1496 0.1087
C(yearbuilt)[T.1963.0]          -0.0251   0.0659 -0.3813 0.7030 -0.1542 0.1040
C(yearbuilt)[T.1964.0]          -0.0320   0.0658 -0.4857 0.6271 -0.1610 0.0970
C(yearbuilt)[T.1965.0]          -0.0276   0.0659 -0.4195 0.6749 -0.1567 0.1015
C(yearbuilt)[T.1966.0]          -0.0359   0.0660 -0.5441 0.5863 -0.1652 0.0934
C(yearbuilt)[T.1967.0]          -0.0380   0.0661 -0.5750 0.5653 -0.1675 0.0915
C(yearbuilt)[T.1968.0]          -0.0279   0.0659 -0.4233 0.6721 -0.1572 0.1013
C(yearbuilt)[T.1969.0]          -0.0416   0.0659 -0.6304 0.5285 -0.1708 0.0877
C(yearbuilt)[T.1970.0]          -0.0364   0.0659 -0.5524 0.5807 -0.1657 0.0928
C(yearbuilt)[T.1971.0]          -0.0414   0.0659 -0.6283 0.5298 -0.1705 0.0877
C(yearbuilt)[T.1972.0]          -0.0333   0.0659 -0.5063 0.6126 -0.1624 0.0957
C(yearbuilt)[T.1973.0]          -0.0434   0.0658 -0.6595 0.5096 -0.1725 0.0856
C(yearbuilt)[T.1974.0]          -0.0381   0.0659 -0.5789 0.5626 -0.1672 0.0910
C(yearbuilt)[T.1975.0]          -0.0341   0.0659 -0.5173 0.6049 -0.1634 0.0951
C(yearbuilt)[T.1976.0]          -0.0345   0.0659 -0.5240 0.6003 -0.1637 0.0946
C(yearbuilt)[T.1977.0]          -0.0340   0.0659 -0.5168 0.6053 -0.1631 0.0950
C(yearbuilt)[T.1978.0]          -0.0384   0.0659 -0.5832 0.5597 -0.1675 0.0907
C(yearbuilt)[T.1979.0]          -0.0319   0.0658 -0.4839 0.6284 -0.1609 0.0972
C(yearbuilt)[T.1980.0]          -0.0316   0.0659 -0.4797 0.6314 -0.1607 0.0975
C(yearbuilt)[T.1981.0]          -0.0278   0.0659 -0.4220 0.6730 -0.1569 0.1013
C(yearbuilt)[T.1982.0]          -0.0283   0.0660 -0.4296 0.6675 -0.1577 0.1010
C(yearbuilt)[T.1983.0]          -0.0377   0.0659 -0.5724 0.5670 -0.1670 0.0915
C(yearbuilt)[T.1984.0]          -0.0318   0.0659 -0.4820 0.6298 -0.1609 0.0974
C(yearbuilt)[T.1985.0]          -0.0454   0.0659 -0.6890 0.4908 -0.1745 0.0837
C(yearbuilt)[T.1986.0]          -0.0340   0.0659 -0.5157 0.6061 -0.1630 0.0951
C(yearbuilt)[T.1987.0]          -0.0354   0.0658 -0.5382 0.5905 -0.1645 0.0936
C(yearbuilt)[T.1988.0]          -0.0337   0.0659 -0.5112 0.6092 -0.1628 0.0954
C(yearbuilt)[T.1989.0]          -0.0333   0.0658 -0.5066 0.6125 -0.1624 0.0957
C(yearbuilt)[T.1990.0]          -0.0331   0.0658 -0.5029 0.6151 -0.1622 0.0959
C(yearbuilt)[T.1991.0]          -0.0227   0.0660 -0.3441 0.7308 -0.1521 0.1067
C(yearbuilt)[T.1992.0]          -0.0344   0.0660 -0.5205 0.6027 -0.1637 0.0950
C(yearbuilt)[T.1993.0]          -0.0408   0.0661 -0.6178 0.5367 -0.1704 0.0887
C(yearbuilt)[T.1994.0]          -0.0391   0.0660 -0.5925 0.5535 -0.1685 0.0903
C(yearbuilt)[T.1995.0]          -0.0337   0.0661 -0.5104 0.6098 -0.1632 0.0958
C(yearbuilt)[T.1996.0]          -0.0380   0.0660 -0.5760 0.5646 -0.1675 0.0914
C(yearbuilt)[T.1997.0]          -0.0255   0.0660 -0.3865 0.6991 -0.1549 0.1039
C(yearbuilt)[T.1998.0]          -0.0287   0.0660 -0.4342 0.6641 -0.1581 0.1007
C(yearbuilt)[T.1999.0]          -0.0386   0.0660 -0.5846 0.5588 -0.1679 0.0907
C(yearbuilt)[T.2000.0]          -0.0339   0.0660 -0.5143 0.6070 -0.1632 0.0954
C(yearbuilt)[T.2001.0]          -0.0251   0.0659 -0.3812 0.7030 -0.1544 0.1041
C(yearbuilt)[T.2002.0]          -0.0342   0.0660 -0.5189 0.6038 -0.1636 0.0951
C(yearbuilt)[T.2003.0]          -0.0307   0.0659 -0.4656 0.6415 -0.1599 0.0985
C(yearbuilt)[T.2004.0]          -0.0298   0.0659 -0.4523 0.6511 -0.1590 0.0994
C(yearbuilt)[T.2005.0]          -0.0254   0.0659 -0.3851 0.7002 -0.1545 0.1038
C(yearbuilt)[T.2006.0]          -0.0180   0.0659 -0.2737 0.7843 -0.1472 0.1111
C(yearbuilt)[T.2007.0]          -0.0268   0.0659 -0.4063 0.6845 -0.1560 0.1024
C(yearbuilt)[T.2008.0]          -0.0395   0.0661 -0.5983 0.5496 -0.1691 0.0900
C(yearbuilt)[T.2009.0]          -0.0343   0.0662 -0.5187 0.6040 -0.1641 0.0954
C(yearbuilt)[T.2010.0]          -0.0482   0.0663 -0.7267 0.4674 -0.1782 0.0818
C(yearbuilt)[T.2011.0]          -0.0472   0.0665 -0.7093 0.4781 -0.1776 0.0832
C(yearbuilt)[T.2012.0]          -0.0365   0.0665 -0.5496 0.5826 -0.1669 0.0938
C(yearbuilt)[T.2013.0]          -0.0316   0.0663 -0.4773 0.6331 -0.1616 0.0983
C(yearbuilt)[T.2014.0]          -0.0520   0.0667 -0.7805 0.4351 -0.1828 0.0787
C(yearbuilt)[T.2015.0]          -0.0702   0.0738 -0.9508 0.3417 -0.2148 0.0745
C(yearbuilt)[T.nulls_yearbuilt] -0.0398   0.0660 -0.6025 0.5468 -0.1691 0.0896
------------------------------------------------------------------------------
Omnibus:                66255.119        Durbin-Watson:           1.995
Prob(Omnibus):          0.000            Jarque-Bera (JB):        64683976.030
Skew:                   2.176            Prob(JB):                0.000
Kurtosis:               134.063          Condition No.:           1415
==============================================================================
* The condition number is large (1e+03). This might indicate
strong multicollinearity or other numerical problems.

## _poolfamily_

In [ ]:
pool = ['parcelid', 'hashottuborspa', 'poolcnt', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7']
pool_df = df[pool]
pool_df.tail()

In [ ]:
pool_df.isna().sum()

In [ ]:
result = pd.merge(pool_df, train_2016_df)

In [ ]:
result.tail()

In [ ]:
result.isna().sum()

In [ ]:
result.fillna(0, inplace=True)
result.tail()

In [ ]:
X = result.iloc[:, 1:6]
y = result.iloc[:, 6:7]

model = sm.OLS.from_formula("logerror ~ C(hashottuborspa) + C(poolcnt) + C(pooltypeid10) + \
C(pooltypeid2) + C(pooltypeid7) + 0", data = result)
print(model.fit().summary())

## _architecturalstyletypeid_

In [4]:
arch_df = df[["parcelid", "architecturalstyletypeid"]]
arch_df.tail()

          parcelid  architecturalstyletypeid
2985212  168176230                       NaN
2985213   14273630                       NaN
2985214  168040630                       NaN
2985215  168040830                       NaN
2985216  168040430                       NaN

In [5]:
arch_count = df.groupby(["architecturalstyletypeid"]).size().reset_index(name="counts")
arch_count

   architecturalstyletypeid  counts
0                       2.0     201
1                       3.0      58
2                       5.0      19
3                       7.0    5251
4                       8.0     380
5                      10.0       1
6                      21.0     150
7                      27.0       1

In [6]:
arch_df = pd.merge(arch_df, train_2016_df)
arch_df.tail()

       parcelid  architecturalstyletypeid  logerror transactiondate
90270  11876798                       NaN    0.0276      2016-04-15
90271  12808516                       NaN   -0.1188      2016-06-07
90272  12010248                       NaN    0.0843      2016-06-30
90273  14310905                       NaN   -0.0050      2016-03-31
90274  14636609                       NaN    0.0129      2016-09-13

In [7]:
arch_dummy = pd.get_dummies(arch_df['architecturalstyletypeid'], columns=['two', 'three', 'seven', 'eight', 'ten', 'twentyone'])
arch_dummy.tail()

       2.0   3.0   7.0   8.0   10.0  21.0
90270     0     0     0     0     0     0
90271     0     0     0     0     0     0
90272     0     0     0     0     0     0
90273     0     0     0     0     0     0
90274     0     0     0     0     0     0

In [8]:
result_df = pd.concat([arch_dummy, train_2016_df], axis=1)
result_df.tail()

       2.0  3.0  7.0  8.0  10.0  21.0  parcelid  logerror transactiondate
90270    0    0    0    0     0     0  10774160   -0.0356      2016-12-30
90271    0    0    0    0     0     0  12046695    0.0070      2016-12-30
90272    0    0    0    0     0     0  12995401   -0.2679      2016-12-30
90273    0    0    0    0     0     0  11402105    0.0602      2016-12-30
90274    0    0    0    0     0     0  12566293    0.4207      2016-12-30

In [9]:
result_df.columns = ['Bungalow', 'CapeCod', 'Contemporary', 'Conventional', \
                     'FrenchProvincial', 'RanchRambler', 'parcelid', 'logerror', 'transactiondate']
result_df.tail()

,Bungalow,CapeCod,Contemporary,Conventional,FrenchProvincial,RanchRambler,parcelid,logerror,transactiondate
90270,0,0,0,0,0,0,10774160,-0.0356,2016-12-30
90271,0,0,0,0,0,0,12046695,0.0070,2016-12-30
90272,0,0,0,0,0,0,12995401,-0.2679,2016-12-30
90273,0,0,0,0,0,0,11402105,0.0602,2016-12-30
90274,0,0,0,0,0,0,12566293,0.4207,2016-12-30

In [10]:
model_architect = sm.OLS.from_formula("logerror ~ C(Bungalow) + C(CapeCod) + C(Contemporary) +\
C(Conventional) + C(FrenchProvincial) + C(RanchRambler)", data=result_df)
sm.stats.anova_lm(model_architect.fit())

                          df       sum_sq   mean_sq         F    PR(>F)
C(Bungalow)              1.0     0.027928  0.027928  1.076326  0.299524
C(CapeCod)               1.0     0.000232  0.000232  0.008936  0.924689
C(Contemporary)          1.0     0.019240  0.019240  0.741498  0.389184
C(Conventional)          1.0     0.000679  0.000679  0.026181  0.871459
C(FrenchProvincial)      1.0     0.003185  0.003185  0.122766  0.726054
C(RanchRambler)          1.0     0.004784  0.004784  0.184370  0.667645
Residual             90268.0  2342.228471  0.025947       NaN       NaN

In [11]:
# 전체

print(model_architect.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.3600
Date:                Mon, 02 Jul 2018   Prob (F-statistic):              0.904
Time:                        11:19:51   Log-Likelihood:                 36737.
No. Observations:               90275   AIC:                        -7.346e+04
Df Residuals:                   90268   BIC:                        -7.339e+04
Df Model:                           6
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    0.0114      0.001     21.312      0.000       0.010       0.012
C(Bungalow)[T.1]            -0.0504      0.049     -1.037      0.300      -0.146       0.045
C(CapeCod)[T.1]             -0.0076      0.081     -0.094      0.925      -0.165       0.150
C(Contemporary)[T.1]         0.0093      0.011      0.861      0.389      -0.012       0.031
C(Conventional)[T.1]         0.0065      0.040      0.162      0.872      -0.072       0.085
C(FrenchProvincial)[T.1]    -0.0564      0.161     -0.350      0.726      -0.372       0.259
C(RanchRambler)[T.1]        -0.0245      0.057     -0.429      0.668      -0.136       0.087
==============================================================================
Omnibus:                    66173.366   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64989584.434
Skew:                           2.169   Prob(JB):                         0.00
Kurtosis:                     134.373   Cond. No.                         300.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
model_architect = sm.OLS.from_formula("logerror ~ C(Bungalow) + C(Contemporary) +\
C(Conventional) + C(FrenchProvincial) + C(RanchRambler)", data=result_df)
sm.stats.anova_lm(model_architect.fit())

                          df       sum_sq   mean_sq         F    PR(>F)
C(Bungalow)              1.0     0.027928  0.027928  1.076338  0.299521
C(Contemporary)          1.0     0.019241  0.019241  0.741560  0.389164
C(Conventional)          1.0     0.000679  0.000679  0.026184  0.871452
C(FrenchProvincial)      1.0     0.003185  0.003185  0.122766  0.726055
C(RanchRambler)          1.0     0.004784  0.004784  0.184367  0.667648
Residual             90269.0  2342.228701  0.025947       NaN       NaN

In [13]:
# CapeCod 제거

print(model_architect.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.4302
Date:                Mon, 02 Jul 2018   Prob (F-statistic):              0.828
Time:                        11:22:19   Log-Likelihood:                 36737.
No. Observations:               90275   AIC:                        -7.346e+04
Df Residuals:                   90269   BIC:                        -7.340e+04
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    0.0114      0.001     21.312      0.000       0.010       0.012
C(Bungalow)[T.1]            -0.0504      0.049     -1.037      0.300      -0.146       0.045
C(Contemporary)[T.1]         0.0093      0.011      0.861      0.389      -0.012       0.031
C(Conventional)[T.1]         0.0065      0.040      0.162      0.872      -0.072       0.085
C(FrenchProvincial)[T.1]    -0.0564      0.161     -0.350      0.726      -0.372       0.259
C(RanchRambler)[T.1]        -0.0245      0.057     -0.429      0.668      -0.136       0.087
==============================================================================
Omnibus:                    66173.450   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64989576.617
Skew:                           2.169   Prob(JB):                         0.00
Kurtosis:                     134.373   Cond. No.                         300.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
arch_df.tail()

       parcelid  architecturalstyletypeid  logerror transactiondate
90270  11876798                       NaN    0.0276      2016-04-15
90271  12808516                       NaN   -0.1188      2016-06-07
90272  12010248                       NaN    0.0843      2016-06-30
90273  14310905                       NaN   -0.0050      2016-03-31
90274  14636609                       NaN    0.0129      2016-09-13

In [19]:
model_arch = sm.OLS.from_formula("logerror ~ C(architecturalstyletypeid) + 0", data=arch_df)
sm.stats.anova_lm(model_arch.fit())

                                df    sum_sq   mean_sq         F    PR(>F)
C(architecturalstyletypeid)    5.0  0.005998  0.001200  0.086119  0.994379
Residual                     255.0  3.551839  0.013929       NaN       NaN

In [217]:
arch_count = df.groupby(["architecturalstyletypeid"]).size().reset_index(name="counts")
arch_count

   architecturalstyletypeid  counts
0                       2.0     201
1                       3.0      58
2                       5.0      19
3                       7.0    5251
4                       8.0     380
5                      10.0       1
6                      21.0     150
7                      27.0       1

## _construction_

In [5]:
construction = ['architecturalstyletypeid', 'typeconstructiontypeid', \
'buildingclasstypeid', 'buildingqualitytypeid']
construction

['architecturalstyletypeid',
 'typeconstructiontypeid',
 'buildingclasstypeid',
 'buildingqualitytypeid']

In [6]:
construction_df = df[construction]
construction_df.tail()

,architecturalstyletypeid,typeconstructiontypeid,buildingclasstypeid,buildingqualitytypeid
2985212,NaN,NaN,NaN,NaN
2985213,NaN,NaN,NaN,NaN
2985214,NaN,NaN,NaN,NaN
2985215,NaN,NaN,NaN,NaN
2985216,NaN,NaN,NaN,NaN

In [ ]:
construction_df.isna().sum()

In [ ]:
df1 = pd.get_dummies(construction_df['architecturalstyletypeid'])
df1

In [ ]:
train_2016_df.tail()

In [ ]:
result_df = pd.merge(construction_df, train_2016_df)
result_df.tail()

In [ ]:
result_df

In [ ]:
construction_df1 = construction_df.groupby(["architecturalstyletypeid"]).size().reset_index(name="counts")
construction_df1

In [ ]:
construction_df2 = construction_df.groupby(["typeconstructiontypeid"]).size().reset_index(name="counts")
construction_df2

In [ ]:
construction_df3 = construction_df.groupby(["buildingclasstypeid"]).size().reset_index(name="counts")
construction_df3

In [ ]:
construction_df4 = construction_df.groupby(["buildingqualitytypeid"]).size().reset_index(name="counts")
construction_df4

In [ ]:
construction

In [ ]:
result_df1 = result_df.dropna()
result_df1.tail()

In [ ]:
result_df2 = result_df.fillna(0)
result_df2.tail()

In [ ]:
result_df.tail()

In [ ]:
construction_df1 = result_df.groupby(["architecturalstyletypeid"]).size().reset_index(name="counts")
construction_df1

In [ ]:
sample = ["secon", "three", "seven", "eight", "ten", "twentyone"]
df1 = pd.get_dummies(result_df['architecturalstyletypeid'])
df1.head()

In [ ]:
len(df1)

In [ ]:
architect_df = pd.DataFrame(columns=sample)
architect_df.head()

In [ ]:
architect_df

In [ ]:
result2 = pd.concat([df1, train_2016_df])
result2.tail()

In [ ]:
pd

In [ ]:
df1.iloc[:, :1].tail()

In [ ]:
model0 = sm.OLS.from_formula("logerror ~ C(architecturalstyletypeid) + C(typeconstructiontypeid) \
+ C(buildingclasstypeid) + C(buildingqualitytypeid) + 0", data=result_df2)
print(model0.fit().summary())

In [ ]:
dmatrix("architecturalstyletypeid", construction_df)

In [ ]:
model1 = sm.OLS.from_formula("logerror ~ C(architecturalstyletypeid) + 0", data=result_df)
print(model1.fit().summary())

In [ ]:
sns.stripplot(x="architecturalstyletypeid", y="logerror", data=result_df, jitter=True, alpha=.3)
sns.pointplot(x="architecturalstyletypeid", y="logerror", data=result_df, dodge=True, color='r')
plt.show()

model_architect = sm.OLS.from_formula("logerror ~ C(architecturalstyletypeid) + 0", data=result_df)
sm.stats.anova_lm(model_architect.fit())

In [ ]:
result_df.tail()

In [ ]:
pd.get_dummies()

## _카테고리 데이터 모델링_

In [6]:
df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cat = ['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid', 'buildingqualitytypeid', \
       'buildingclasstypeid', 'decktypeid', 'fips', 'heatingorsystemtypeid', \
       'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', \
       'rawcensustractandblock', 'censustractandblock', 'regionidcounty', 'regionidcity', \
       'regionidzip', 'regionidneighborhood', 'typeconstructiontypeid', 'yearbuilt', \
       'assessmentyear', 'taxdelinquencyyear']
cat

['parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'buildingqualitytypeid',
 'buildingclasstypeid',
 'decktypeid',
 'fips',
 'heatingorsystemtypeid',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'censustractandblock',
 'regionidcounty',
 'regionidcity',
 'regionidzip',
 'regionidneighborhood',
 'typeconstructiontypeid',
 'yearbuilt',
 'assessmentyear',
 'taxdelinquencyyear']

In [15]:
cat_df = df[cat]

In [2]:
cat_df.tail()

NameError: name 'cat_df' is not defined

In [17]:
result_df = pd.merge(cat_df, train_2016_df)
result_df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,heatingorsystemtypeid,propertycountylandusecode,propertylandusetypeid,...,regionidcounty,regionidcity,regionidzip,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,logerror,transactiondate
90270,11876798,1.0,NaN,4.0,NaN,NaN,6037.0,2.0,0100,261.0,...,3101.0,12447.0,96013.0,114914.0,NaN,2008.0,2015.0,NaN,0.0276,2016-04-15
90271,12808516,NaN,NaN,7.0,NaN,NaN,6037.0,7.0,0100,261.0,...,3101.0,39306.0,96490.0,NaN,NaN,1956.0,2015.0,NaN,-0.1188,2016-06-07
90272,12010248,1.0,NaN,4.0,NaN,NaN,6037.0,2.0,010C,266.0,...,3101.0,12447.0,96009.0,32059.0,NaN,2011.0,2015.0,NaN,0.0843,2016-06-30
90273,14310905,NaN,NaN,NaN,NaN,NaN,6059.0,NaN,1,261.0,...,1286.0,52650.0,96947.0,275824.0,NaN,2012.0,2015.0,NaN,-0.0050,2016-03-31
90274,14636609,NaN,NaN,NaN,NaN,NaN,6059.0,NaN,1,266.0,...,1286.0,18874.0,96186.0,NaN,NaN,2013.0,2015.0,NaN,0.0129,2016-09-13

In [21]:
values = {}
for i in cat:
    values[i] = "nulls_" + i[:10]
values

{'parcelid': 'nulls_parcelid',
 'airconditioningtypeid': 'nulls_airconditi',
 'architecturalstyletypeid': 'nulls_architectu',
 'buildingqualitytypeid': 'nulls_buildingqu',
 'buildingclasstypeid': 'nulls_buildingcl',
 'decktypeid': 'nulls_decktypeid',
 'fips': 'nulls_fips',
 'heatingorsystemtypeid': 'nulls_heatingors',
 'propertycountylandusecode': 'nulls_propertyco',
 'propertylandusetypeid': 'nulls_propertyla',
 'propertyzoningdesc': 'nulls_propertyzo',
 'rawcensustractandblock': 'nulls_rawcensust',
 'censustractandblock': 'nulls_censustrac',
 'regionidcounty': 'nulls_regionidco',
 'regionidcity': 'nulls_regionidci',
 'regionidzip': 'nulls_regionidzi',
 'regionidneighborhood': 'nulls_regionidne',
 'typeconstructiontypeid': 'nulls_typeconstr',
 'yearbuilt': 'nulls_yearbuilt',
 'assessmentyear': 'nulls_assessment',
 'taxdelinquencyyear': 'nulls_taxdelinqu'}

In [27]:
result_df.fillna(values, inplace=True)

In [23]:
del result_df['transactiondate']

In [28]:
result_df.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,buildingqualitytypeid,buildingclasstypeid,decktypeid,fips,heatingorsystemtypeid,propertycountylandusecode,propertylandusetypeid,...,censustractandblock,regionidcounty,regionidcity,regionidzip,regionidneighborhood,typeconstructiontypeid,yearbuilt,assessmentyear,taxdelinquencyyear,logerror
90270,11876798,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,2,0100,261.0,...,6.0372e+13,3101.0,12447,96013,114914,nulls_typeconstr,2008,2015.0,nulls_taxdelinqu,0.0276
90271,12808516,nulls_airconditi,nulls_architectu,7,nulls_buildingcl,nulls_decktypeid,6037.0,7,0100,261.0,...,6.03741e+13,3101.0,39306,96490,nulls_regionidne,nulls_typeconstr,1956,2015.0,nulls_taxdelinqu,-0.1188
90272,12010248,1,nulls_architectu,4,nulls_buildingcl,nulls_decktypeid,6037.0,2,010C,266.0,...,6.03719e+13,3101.0,12447,96009,32059,nulls_typeconstr,2011,2015.0,nulls_taxdelinqu,0.0843
90273,14310905,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_heatingors,1,261.0,...,nulls_censustrac,1286.0,52650,96947,275824,nulls_typeconstr,2012,2015.0,nulls_taxdelinqu,-0.0050
90274,14636609,nulls_airconditi,nulls_architectu,nulls_buildingqu,nulls_buildingcl,nulls_decktypeid,6059.0,nulls_heatingors,1,266.0,...,nulls_censustrac,1286.0,18874,96186,nulls_regionidne,nulls_typeconstr,2013,2015.0,nulls_taxdelinqu,0.0129

In [54]:
formula = "logerror ~ "
for i in cat[1:]:
    formula += "C(" + i + ") + "
formula = formula[:-3]
formula

'logerror ~ C(airconditioningtypeid) + C(architecturalstyletypeid) + C(buildingqualitytypeid) + C(buildingclasstypeid) + C(decktypeid) + C(fips) + C(heatingorsystemtypeid) + C(propertycountylandusecode) + C(propertylandusetypeid) + C(propertyzoningdesc) + C(rawcensustractandblock) + C(censustractandblock) + C(regionidcounty) + C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) + C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear)'

In [ ]:
y = result_df.iloc[:, -1:]
X = result_df.iloc[:, :-1]
model = sm.OLS.from_formula(formula, data=result_df)
print(model.fit().summary())

In [1]:
result_df

NameError: name 'result_df' is not defined