In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()

from IPython.core.pylabtools import figsize

import statsmodels.api as sm
from patsy import dmatrix
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('~/src/properties_2016.csv')
df.tail()

/Users/quartz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train_2016_df = pd.read_csv('~/src/train_2016.csv')
train_2016_df.tail()

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [5]:
rel = ['parcelid', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr', 'threequarterbathnbr', \
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet6', \
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', \
       'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', \
       'latitude', 'longitude', 'lotsizesquarefeet', 'numberofstories', \
       'poolcnt', 'poolsizesum', 'roomcnt', \
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'taxvaluedollarcnt', \
       'structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxamount']
rel, len(rel)

(['parcelid',
  'basementsqft',
  'bathroomcnt',
  'bedroomcnt',
  'calculatedbathnbr',
  'threequarterbathnbr',
  'finishedfloor1squarefeet',
  'calculatedfinishedsquarefeet',
  'finishedsquarefeet6',
  'finishedsquarefeet12',
  'finishedsquarefeet13',
  'finishedsquarefeet15',
  'finishedsquarefeet50',
  'fireplacecnt',
  'fullbathcnt',
  'garagecarcnt',
  'garagetotalsqft',
  'latitude',
  'longitude',
  'lotsizesquarefeet',
  'numberofstories',
  'poolcnt',
  'poolsizesum',
  'roomcnt',
  'unitcnt',
  'yardbuildingsqft17',
  'yardbuildingsqft26',
  'taxvaluedollarcnt',
  'structuretaxvaluedollarcnt',
  'landtaxvaluedollarcnt',
  'taxamount'],
 31)

In [6]:
rel_df = df[rel]
rel_df.tail()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,threequarterbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet6,finishedsquarefeet12,...,poolcnt,poolsizesum,roomcnt,unitcnt,yardbuildingsqft17,yardbuildingsqft26,taxvaluedollarcnt,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxamount
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
result_df1 = pd.merge(rel_df, train_2016_df)
result_df1.tail()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,threequarterbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet6,finishedsquarefeet12,...,roomcnt,unitcnt,yardbuildingsqft17,yardbuildingsqft26,taxvaluedollarcnt,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,logerror,transactiondate
90270,11876798,NaN,3.0,4.0,3.0,NaN,NaN,2068.0,NaN,2068.0,...,0.0,1.0,NaN,NaN,596082.0,388582.0,207500.0,7335.81,0.0276,2016-04-15
90271,12808516,NaN,2.0,3.0,2.0,NaN,NaN,1352.0,NaN,1352.0,...,0.0,1.0,NaN,NaN,178408.0,86209.0,92199.0,2441.74,-0.1188,2016-06-07
90272,12010248,NaN,2.0,2.0,2.0,NaN,NaN,860.0,NaN,860.0,...,0.0,1.0,NaN,NaN,420000.0,129000.0,291000.0,5070.41,0.0843,2016-06-30
90273,14310905,NaN,2.5,3.0,2.5,1.0,NaN,2268.0,NaN,2268.0,...,0.0,NaN,NaN,NaN,1215816.0,389474.0,826342.0,12508.30,-0.0050,2016-03-31
90274,14636609,NaN,2.5,3.0,2.5,1.0,NaN,1812.0,NaN,1812.0,...,0.0,NaN,NaN,NaN,471286.0,237048.0,234238.0,5470.12,0.0129,2016-09-13

In [9]:
values = {
    'finishedsquarefeet6' : 1.,
    'finishedsquarefeet12' : 1.,
    'finishedsquarefeet13' : 1.,
    'finishedsquarefeet15' : 1.,
    'structuretaxvaluedollarcnt' : 1.,
    'landtaxvaluedollarcnt' : 1.,
    'calculatedbathnbr' : 1.,
    'calculatedfinishedsquarefeet' : 1827.16,
    'finishedfloor1squarefeet' : 1380.63,
    'poolcnt' : 1.0,
    'taxvaluedollarcnt' : 420478.99,
    'taxamount' : 5377.61,
    'basementsqft': 646.88,
    'bathroomcnt': 2.21,
    'bedroomcnt': 3.09,
    'threequarterbathnbr' : 1.0,
    'finishedsquarefeet50' : 1388.94,
    'fireplacecnt' : 1.17,
    'fullbathcnt' : 2.0,
    'garagecarcnt' : 2.0,
    'garagetotalsqft' : 383.77,
    'lotsizesquarefeet' : 22822.81,
    'numberofstories' : 1.0,
    'poolsizesum' : 519.71,
    'roomcnt' : 1.0,
    'unitcnt' : 1.0,
    'yardbuildingsqft17' : 319.80,
    'yardbuildingsqft26' : 278.30,
}

values

{'finishedsquarefeet6': 1.0,
 'finishedsquarefeet12': 1.0,
 'finishedsquarefeet13': 1.0,
 'finishedsquarefeet15': 1.0,
 'structuretaxvaluedollarcnt': 1.0,
 'landtaxvaluedollarcnt': 1.0,
 'calculatedbathnbr': 1.0,
 'calculatedfinishedsquarefeet': 1827.16,
 'finishedfloor1squarefeet': 1380.63,
 'poolcnt': 1.0,
 'taxvaluedollarcnt': 420478.99,
 'taxamount': 5377.61,
 'basementsqft': 646.88,
 'bathroomcnt': 2.21,
 'bedroomcnt': 3.09,
 'threequarterbathnbr': 1.0,
 'finishedsquarefeet50': 1388.94,
 'fireplacecnt': 1.17,
 'fullbathcnt': 2.0,
 'garagecarcnt': 2.0,
 'garagetotalsqft': 383.77,
 'lotsizesquarefeet': 22822.81,
 'numberofstories': 1.0,
 'poolsizesum': 519.71,
 'roomcnt': 1.0,
 'unitcnt': 1.0,
 'yardbuildingsqft17': 319.8,
 'yardbuildingsqft26': 278.3}

In [10]:
result_df1.fillna(values, inplace=True)
result_df1.tail()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,threequarterbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet6,finishedsquarefeet12,...,roomcnt,unitcnt,yardbuildingsqft17,yardbuildingsqft26,taxvaluedollarcnt,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,logerror,transactiondate
90270,11876798,646.88,3.0,4.0,3.0,1.0,1380.63,2068.0,1.0,2068.0,...,0.0,1.0,319.8,278.3,596082.0,388582.0,207500.0,7335.81,0.0276,2016-04-15
90271,12808516,646.88,2.0,3.0,2.0,1.0,1380.63,1352.0,1.0,1352.0,...,0.0,1.0,319.8,278.3,178408.0,86209.0,92199.0,2441.74,-0.1188,2016-06-07
90272,12010248,646.88,2.0,2.0,2.0,1.0,1380.63,860.0,1.0,860.0,...,0.0,1.0,319.8,278.3,420000.0,129000.0,291000.0,5070.41,0.0843,2016-06-30
90273,14310905,646.88,2.5,3.0,2.5,1.0,1380.63,2268.0,1.0,2268.0,...,0.0,1.0,319.8,278.3,1215816.0,389474.0,826342.0,12508.30,-0.0050,2016-03-31
90274,14636609,646.88,2.5,3.0,2.5,1.0,1380.63,1812.0,1.0,1812.0,...,0.0,1.0,319.8,278.3,471286.0,237048.0,234238.0,5470.12,0.0129,2016-09-13

In [ ]:
feature_dropped = ['logerror', 'transactiondate']
feature_dropped
result_df1.drop(feature_dropped, axis=1, inplace=True)

In [ ]:
result_df1.tail()

In [ ]:
cat = ['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid', 'buildingqualitytypeid', \
       'buildingclasstypeid', 'decktypeid', 'fips', 'hashottuborspa', 'heatingorsystemtypeid', \
       'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', \
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7', \
       'rawcensustractandblock', 'censustractandblock', 'regionidcounty', 'regionidcity', \
       'regionidzip', 'regionidneighborhood', 'typeconstructiontypeid', 'yearbuilt', \
       'assessmentyear', 'taxdelinquencyyear', 'fireplaceflag', 'storytypeid', 'taxdelinquencyflag']
cat

In [ ]:
cat_df = df[cat]
cat_df.tail()

In [ ]:
result_df2 = pd.merge(cat_df, train_2016_df)
result_df2.tail()

In [ ]:
# fillna를 위한 values 만들기, fillna 적용하기(Nan >> nulls_)

values = {}
for i in cat:
    values[i] = "nulls_" + i[:10]
result_df2.fillna(values, inplace=True)
result_df2.tail()

In [ ]:
result_df1.tail()

In [ ]:
result_df2.tail()

In [ ]:
result_df = pd.merge(result_df1, result_df2)
result_df.tail()

In [ ]:
formula = 'logerror ~ scale(basementsqft) + bathroomcnt + bedroomcnt + threequarterbathnbr \
+ scale(finishedsquarefeet6) + scale(finishedsquarefeet12) + scale(finishedsquarefeet13) \
+ scale(finishedsquarefeet15) + scale(finishedsquarefeet50) + fireplacecnt + fullbathcnt \
+ garagecarcnt + scale(garagetotalsqft) + scale(lotsizesquarefeet) + numberofstories \
+ scale(poolsizesum) + roomcnt + unitcnt + scale(yardbuildingsqft17) + scale(yardbuildingsqft26) \
+ scale(structuretaxvaluedollarcnt) + scale(landtaxvaluedollarcnt) \
+ C(airconditioningtypeid) + C(architecturalstyletypeid) + C(buildingqualitytypeid) \
+ C(buildingclasstypeid) + C(decktypeid) + C(fips) + C(heatingorsystemtypeid) \
+ C(propertycountylandusecode) + C(propertylandusetypeid) + C(regionidcounty) \
+ C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) \
+ C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear)'
formula

In [ ]:
model = sm.OLS.from_formula(formula, data=result_df)
result_w = model.fit()
print(result_w.summary())

In [ ]:
# vif factor 결과 반영

In [ ]:
formula = 'logerror ~ scale(bathroomcnt) + scale(bedroomcnt) \
+ scale(threequarterbathnbr) \
+ scale(finishedsquarefeet6) + scale(finishedsquarefeet12) \
+ scale(finishedsquarefeet13) + scale(finishedsquarefeet15) + scale(finishedsquarefeet50) \
+ scale(fireplacecnt) + scale(fullbathcnt) + scale(garagecarcnt) + scale(garagetotalsqft) \
+ scale(lotsizesquarefeet) + scale(numberofstories) \
+ scale(roomcnt) + scale(unitcnt) \
+ scale(yardbuildingsqft17) + scale(structuretaxvaluedollarcnt) \
+ scale(landtaxvaluedollarcnt) + scale(taxamount) + C(airconditioningtypeid) \
+ C(architecturalstyletypeid) + C(buildingqualitytypeid) \
+ C(buildingclasstypeid) + C(decktypeid) + C(fips) + C(heatingorsystemtypeid) \
+ C(propertycountylandusecode) + C(propertylandusetypeid) + C(regionidcounty) \
+ C(regionidcity) + C(regionidzip) + C(regionidneighborhood) + C(typeconstructiontypeid) \
+ C(yearbuilt) + C(assessmentyear) + C(taxdelinquencyyear)'
formula

In [ ]:
# R^2
# 1. 
# 2. 0.039

model = sm.OLS.from_formula(formula, data=result_df)
result_w = model.fit()
print(result_w.summary())

In [ ]:
result_df.iloc[:, -2:-1].tail()

In [ ]:
# 잔차의 정규성 검정 (QQ plot)

sp.stats.probplot(result_w.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_w.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 정규성 검정

test = sms.omni_normtest(result_w.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 교차 검증

X = result_df.iloc[:, :-2].tail()
y = result_df.iloc[:, -2:-1].tail()

cv = KFold(10)
scores = np.zeros(10)
for i, (train_index, test_index) in enumerate(cv.split(X)):
    X_train = X.values[train_index]
    y_train = y.values[train_index]
    X_test = X.values[test_index]
    y_test = y.values[test_index]
    
    model = sm.OLS(y, X)
    result = model.fit()
    y_pred = result.predict(X_test)
    scores[i] = r2_score(y_test, y_pred)

scores

In [ ]:
result_df.dtypes